.homeContainer {
  margin: 30px 0;
  padding: 0 40px;
}

.homeContent {
  height: 85vh;
}

.homeText {
  padding-bottom: 10px;
}

.textTitle {
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  text-align: center;
}

.textSubtitle {
  width: 27ch;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2rem;
  color: #9e9e9e;
  margin-top: 30px;
  margin-bottom: 50px;
}

.homeImgContainer {
  width: 100%;
  padding: 20px;
}

.homeImgContainer img {
  width: 70% !important;
  height: auto;
}

@media (min-width: 992px) {
  .homeText {
    padding-left: 100px;
  }
  .homeContent {
    padding-bottom: 20px;
  }

  .textTitle {
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: left;
    width: 20ch;
  }

  .textSubtitle {
    font-size: 1.5rem;
    line-height: 1.8rem;
    width: 39ch;
    text-align: left;
    margin-bottom: 15vh;
    margin-left: 80px;
  }

  .homeImgContainer {
    width: 50%;
    height: 100%;
    padding: 20px;
  }

  .homeImgContainer img {
    height: 70% !important;
  }
}
