.navLogoText {
  color: #fff;
}

.navLogoText:hover {
  color: #fff;
}

.mainMenu {
  display: flex;
  font-size: 18px;
  width: 380px;
  justify-content: space-between;
}

.mainMenu a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

.mainMenu a.active {
  font-weight: bold;
  color: #fff;
}

.mainMenu a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .mainNav {
    min-height: 70px;
    padding-left: 40px;
  }
}
